<h1 class="text-3xl font-bold text-center mb-6 text-[#5b5d8f]">Danh Sách Sản Phẩm</h1>

<div class="mx-auto px-4">
  <!-- Search Section -->
  <div class="flex justify-center mb-4 mt-5">
    <div class="w-full md:w-8/12 px-2 mx-auto">
      <input
        class="search-input shadow rounded-lg w-full py-3 px-5 leading-tight focus:outline-none focus:ring-2 focus:ring-gold"
        type="text" placeholder="Tìm Kiếm Sản Phẩm" [(ngModel)]="keyword">
    </div>
    <div class="w-full md:w-4/12 px-2">
      <button class="search-button text-white font-semibold py-3 px-6 rounded-lg"
        (click)="searchProducts()"><i class="fa fa-search"></i></button>
    </div>
  </div>

  <!-- Add Product Button -->
  <div class="d-flex justify-content-center mb-4">
    <button class="btn rounded-lg shadow-md hover:bg-gray-600 transition duration-300 ease-in-out px-4 py-2"
      style="font-size: 15px; background: #5b5d8f; color: white; border: 1px solid #4B5563;" (click)="insertProduct()">
      Thêm Sản Phẩm
    </button>
  </div>

  <!-- Product Table -->
  <div class="shadow-lg rounded-3xl bg-white p-8">
    <table class="table table-bordered table-striped">
      <thead class="bg-gray-700 text-white">
        <tr>
          <th class="py-3 px-4 font-semibold">ID</th>
          <th class="py-3 px-4 font-semibold">Tên Sản Phẩm</th>
          <th class="py-3 px-4 font-semibold">Giá</th>
          <th class="py-3 px-4 font-semibold">Hình ảnh</th>
          <th class="py-3 px-4 font-semibold">Thao Tác</th>
        </tr>
      </thead>
      <tbody>
        @for(product of products; track product.id) {
          <tr class="cursor-pointer transition ease-in-out hover:bg-gray-100">
            <td class="px-4 py-2">{{ product.id }}</td>
            <td class="px-4 py-2">{{ product.name }}</td>
            <td class="px-4 py-2">{{ product.price | number: '1.0-2' }}</td>
            <td class="px-4 py-2">
              <img src="{{ product.url }}" class="rounded-square" alt="Thumbnail" width="100" height="100">
            </td>
            <td class="px-4 py-2">
              <div class="flex gap-2 justify-center">
                <button class="bg-blue-600 text-white px-2 py-1 rounded hover:bg-blue-700"
                  (click)="updateProduct(product.id)">
                  Cập Nhật
                </button>
                <button class="bg-red-600 text-white px-2 py-1 rounded hover:bg-red-700"
                  (click)="deleteProduct(product)"><i class="fa-solid fa-trash"></i>
                </button>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>

  <!-- Pagination -->
  <div class="d-flex justify-content-center mt-4">
    <nav aria-label="Page navigation">
      <ul class="pagination">
        @if(currentPage > 0) {
          <li class="page-item">
            <a class="page-link" (click)="onPageChange(0)">Đầu</a>
          </li>
          <li class="page-item">
            <a class="page-link" (click)="onPageChange(currentPage - 1)">
              <i class="fa fa-chevron-left"></i>
            </a>
          </li>
        }
        @for(page of visiblePages; track page) {
          <ng-container>
            <li class="page-item" [ngClass]="{'active': page === currentPage + 1}">
              <a class="page-link" (click)="onPageChange(page - 1)">{{ page }}</a>
            </li>
          </ng-container>
        }
        @if(currentPage < totalPages - 1) {
          <li class="page-item">
            <a class="page-link" (click)="onPageChange(currentPage + 1)">
              <i class="fa fa-chevron-right"></i>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" (click)="onPageChange(totalPages - 1)">Cuối</a>
          </li>
        }
      </ul>
    </nav>
  </div>
</div>
