<app-header></app-header>
<div class="container mx-auto px-4">
  <form #registerForm="ngForm">
    <div class="flex justify-center">
      <div class="w-full max-w-3xl bg-white shadow-lg rounded-lg p-8">
        <h4 class="text-3xl font-bold text-gray-800 text-center mb-10">ĐĂNG KÝ TÀI KHOẢN</h4>
        <div class="form-group">
          <label for="phoneNumber" class="text-lg font-medium text-gray-700">Số điện thoại</label>
          <input type="text" class="w-full mt-2 p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" [(ngModel)]="phoneNumber" (input)="onPhoneNumberChange()" name="phone" (focus)="registerForm.form.markAsTouched()" required id="phoneNumber" placeholder="Nhập số điện thoại">
          @if(phoneNumber.length < 10 && registerForm.form.touched) {
            <p class="text-red-500 text-sm mt-2">Số điện thoại phải đủ 10 số</p>
          }
        </div>
        <div class="form-group mt-6">
          <label for="password" class="text-lg font-medium text-gray-700">Mật khẩu</label>
          <div class="relative">
            <input type="password" class="w-full mt-2 p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" [(ngModel)]="password" name="password" placeholder="Ít nhất 3 ký tự" required id="password">
            <i class="absolute top-3 right-3 cursor-pointer text-gray-500" [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash'" (click)="togglePassword()"></i>
          </div>
          @if(password.length < 3 && registerForm.form.touched) {
            <p class="text-red-500 text-sm mt-2">Mật khẩu phải ít nhất 3 ký tự</p>
          }
        </div>
        <div class="form-group mt-6">
          <label for="retype-password" class="text-lg font-medium text-gray-700">Nhập lại mật khẩu</label>
          <div class="relative">
            <input type="password" class="w-full mt-2 p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="Ít nhất 3 ký tự" [(ngModel)]="retypePassword" name="retypePassword" (input)="registerForm.form.markAsTouched(); checkPasswordsMatch()" required id="retype-password">
            <i class="absolute top-3 right-3 cursor-pointer text-gray-500" [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash'" (click)="togglePassword()"></i>
          </div>
          @if(retypePassword.length < 3 && registerForm.form.touched) {
            <p class="text-red-500 text-sm mt-2">Mật khẩu phải ít nhất 3 ký tự</p>
          }
          @if(registerForm.controls['retypePassword'].hasError('passwordMismatch') && registerForm.form.touched) {
            <p class="text-red-500 text-sm mt-2">Password no match</p>
          }
        </div>
        <div class="form-group mt-6">
          <label for="full-name" class="text-lg font-medium text-gray-700">Họ và Tên</label>
          <input type="text" class="w-full mt-2 p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" [(ngModel)]="fullName" name="fullName" required id="full-name">
        </div>
        <div class="form-group mt-6">
          <label for="date-of-birth" class="text-lg font-medium text-gray-700">Ngày tháng năm sinh</label>
          <input type="date" class="w-full mt-2 p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" [(ngModel)]="dateOfBirth" name="dateOfBirth" (input)="registerForm.form.markAsTouched(); checkAge()" required id="date-of-birth">
          @if(registerForm.controls['dateOfBirth'].hasError('invalidAge') && registerForm.form.touched) {
            <p class="text-red-500 text-sm mt-2">You are under the age of 18</p>
          }
        </div>
        <div class="form-group mt-6">
          <label for="address" class="text-lg font-medium text-gray-700">Địa chỉ</label>
          <input type="text" class="w-full mt-2 p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" [(ngModel)]="address" name="address" id="address">
        </div>
        <div class="form-group mt-6">
          <div class="flex items-center">
            <input type="checkbox" [(ngModel)]="isAccepted" name="isAccepted" class="mr-2 h-5 w-5 text-blue-500 focus:ring-blue-500 rounded" id="agree">
            <label for="agree" class="text-gray-700">Tôi chấp nhận đồng ý các <a href="#" class="text-blue-500 underline">điều khoản</a></label>
          </div>
        </div>
        <button type="button" (click)="register()" class="w-full py-3 mt-8 bg-blue-500 text-white rounded-lg hover:bg-blue-600 transition">Đăng Ký</button>
        <p class="text-center mt-6 text-gray-700">Bạn đã có tài khoản? <a class="text-blue-500 underline cursor-pointer" (click)="Tologin()">Đăng nhập tại đây</a></p>
      </div>
    </div>
  </form>
</div>
