<header>
  <div class="main-header">
    <img
      class="logo"
      src="https://www.uit.edu.vn/sites/vi/files/images/Logos/Logo_UIT_Web_Transparent.png"
      [ngClass]="{ active: activeNavItem === 0 }"
      (click)="setActiveNavItem(0)"
      routerLink="/"
      alt="Logo"
    />
    <div class="btncl">
      <div
        class="category-container"
      >
        <select
          class="form-control product-category"
          [(ngModel)]="selectedCategoryId"
        >
          <option [value]="selectedCategoryId">Tất cả</option>
          @for(category of categories; track category.name) {
          <option [value]="category.id">
            {{ category.name }}
          </option>
          }
        </select>
      </div>
    </div>
    <div
      class="search-container">
      <!-- <input type="text" class="form-control search-input" placeholder="Search product" [(ngModel)]="keyword"> -->
      <input
        type="text"
        class="form-control search-input"
        placeholder="Tìm kiếm"
        [(ngModel)]="keyword"
      />
    </div>
    <button style="
    border: 1px solid;
    padding: 9px;
    border-radius: 4px;
    border-color: white;
    color: black;
    background-color: white;
    font-weight: bolder;
    margin-right: 20px;
    font-size: 16px;
" (click)="searchProducts()">Tìm</button>
    <div routerLink="/branch" class="branch flex justify-center items-center cursor-pointer">

      <i class="fa fa-map-pin" aria-hidden="true"></i>
      <p>Chi nhánh</p>
    </div>
    
    <div class="utility-icons">
      <div class="utility-item" [ngClass]="{ 'active': activeNavItem === 1 }" (click)="setActiveNavItem(1)"
        routerLink="/">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-cart"
          viewBox="0 0 16 16">
          <path
            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
        </svg>
        <a class="nav-link" routerLink="/orders">
          Giỏ hàng</a>
      </div>

      <div class="utility-item">
      
        <!-- <a class="nav-link" routerLink="/login">Đăng nhập</a> -->
        @if(userResponse) {
        <ng-container>
          <ng-container
            ngbPopover="Tài khoản của tôi,Đơn mua,Đăng xuất"
            popoverTitle="User Actions"
            triggers="click"
            [placement]="'bottom'"
          >
            <a
              class="nav-link"
              
              [ngbPopover]="popoverContent"
              (click)="togglePopover($event)"
            >
              {{ userResponse.fullname }}
            </a>
            <ng-template #popoverContent>
              <div class="popover-list">
                <a class="popover-item" (click)="handleItemClick(0)"
                  >Tài khoản</a
                >
                <a class="popover-item" (click)="handleItemClick(1)">Đã đặt</a>
                <a class="popover-item" (click)="FavoriteProduct()"
                  >Sản phẩm Yêu Thích</a
                >
                <a class="popover-item" (click)="handleItemClick(2)">Log out</a>
              </div>
            </ng-template>
          </ng-container>
        </ng-container>
        } @else {
        <ng-container>
          <a
            class="nav-link"
            href="/login"
            routerLink="/login"
            >Đăng Nhập</a
          >
        </ng-container>
        }
      </div>
    </div>
  </div>

<app-nav-bar></app-nav-bar>
</header>
