<app-header></app-header>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<div class="container">
  <div class="intro-section">
    <div class="path" style="text-align: left;">
      <h3 style="font-size: 18px; font-weight: bolder;"><a>Trang chủ</a> / {{ product?.name }}</h3>

    </div>
  </div>
  <div class="row" style="border: 1px solid; border-radius: 10px; background-color: white;">
    <div class="col-md-5">
      <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          @for(image of product?.product_images;
          track image.image_url;let i = $index;) {
          <div class="carousel-item" [ngClass]="{'active': i === currentImageIndex}">
            <div class="square-image">
              <img [src]="image.image_url" class="product-image" alt="Product Image">
            </div>
          </div>
          }
        </div>
        <button style="color: #000;" class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
          data-bs-slide="prev" (click)="previousImage()">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span style="color: #000;" class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next"
          (click)="nextImage()">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span style="color: #000;" class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="row" style="margin-left: 3px;">
        <div class="thumbnail-container">
          @for(image of product?.product_images;
          track image.image_url; let i = $index) {
          <div class="thumbnail-item" [ngClass]="{'active': i === currentImageIndex}" (click)="thumbnailClick(i)">
            <img [src]="image.image_url" class="thumbnail-image" alt="Thumbnail Image">
          </div>
          }

        </div>
      </div>
    </div>
    <hr style="height: 720px; margin-left: 1px;">
    <div class="col-md-6 detail-pr">
      <div class="product-details">
        <h2 class="text-4xl mb-4 font-bold">{{ product?.name }}</h2>
        <!-- <p>{{ product?.description }}</p> -->
        <p style="font-weight: 700;
    color: #FF8A00;">4.0<i style="margin-left: 10px;" class="fas  fa-star color_star"></i></p>
        <p><span class="font-bold text-xl"></span> <span
            style="font-size: 32px;line-height: 40px;font-weight: bold;color: #E30019; margin-bottom: 10px;">{{
            getTotalPrice() | number:'1.0-2' }} VND</span></p>
        <div class="product-gift-promo-box gift-promo--app" id="gift-promo--app" style="border: 1px solid #FFD9D9;
            border-radius: 4px;
            overflow: hidden;">
          <div class="box-header"
            style="height: 42px;background: #FFD9D9;display: flex;align-items: center;padding: 12px 20px;font-weight: 600; font-size: 18px;line-height: 22px;color: #E30019; margin-bottom: 0;">
            <div class="icon">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M4.08 21.2271C4.08 21.6546 4.40175 22 4.8 22H11.235V12.9179H4.08V21.2271ZM12.765 22H19.2C19.5982 22 19.92 21.6546 19.92 21.2271V12.9179H12.765V22ZM20.28 7.12077H16.959C17.265 6.60386 17.445 5.99034 17.445 5.33333C17.445 3.49517 16.0522 2 14.34 2C13.4085 2 12.5693 2.44444 12 3.14493C11.4307 2.44444 10.5915 2 9.66 2C7.94775 2 6.555 3.49517 6.555 5.33333C6.555 5.99034 6.73275 6.60386 7.041 7.12077H3.72C3.32175 7.12077 3 7.46618 3 7.89372V11.2754H11.235V7.12077H12.765V11.2754H21V7.89372C21 7.46618 20.6782 7.12077 20.28 7.12077ZM11.235 7.02415H9.66C8.7915 7.02415 8.085 6.2657 8.085 5.33333C8.085 4.40097 8.7915 3.64251 9.66 3.64251C10.5285 3.64251 11.235 4.40097 11.235 5.33333V7.02415ZM14.34 7.02415H12.765V5.33333C12.765 4.40097 13.4715 3.64251 14.34 3.64251C15.2085 3.64251 15.915 4.40097 15.915 5.33333C15.915 6.2657 15.2085 7.02415 14.34 7.02415Z"
                  fill="#E30019"></path>
              </svg>
            </div>
            <h2>
              Quà tặng khuyến mãi</h2>
          </div>
          <div class="box-content product-appgift" id="gift-promo--product" data-id="1056829027" data-vid=""
            data-title="PC GVN AMD R5-8400F/ VGA RX 7600" style="min-height: 0;
              transition: height 1s ease;
              padding: 6px 0;">
            <div class="gift-promo--content" style="font-size: 15px;
    margin-left: 10px;">
              <div class="gift-promo--lists">
                <ul>
                  <li class="higtlight"><a href="" class="line-gift">Tặng ngay <strong>1</strong> x <strong>Màn hình
                        ViewSonic VX2479-HD-PRO 24" IPS 180Hz chuyên game</strong> trị giá
                      <strong>2.890.000₫</strong></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <h2 class="font-bold text-xl">Mô tả</h2>
        <p class="description">{{ product?.description }}</p>
        <div class="product-quantity">
          <div class="quantity-wrapper">
            <button class="quantity-btn" (click)="decreaseQuantity()">-</button>
            <input type="text" class="quantity-input" [value]="quantity">
            <button class="quantity-btn" (click)="increaseQuantity()">+</button>
          </div>
        </div>        
        <div class="product-actions">
          <button class="btn btn-primary"
            style="font-weight: 600;font-size: 18px; background-color: #BE1529; border-color: #BE1529; width: 50%;"
            (click)="addToCart()">Thêm vào giỏ hàng</button>
          <button class="btn btn-success"
            style="font-weight: 600;font-size: 18px; background-color: #428bca; border-color: #428bca; width: 50%;"
            (click)="buyNow()">Mua ngay</button>
        </div>
        
        <div class="product-desc-short prtab2">
          <p style="margin-top: 0;
    margin-bottom: 1rem">
            <span style="font-size:18px"><em>⭐<strong>&nbsp;</strong>Giảm ngay<strong>&nbsp;<span
                    style="color:#ff0000">1.500.000đ</span></strong><span style="color:#ff0000"> </span>vào giá của sản
                phẩm
                {{ product?.name }} nếu khách&nbsp;không lấy quà tặng<strong>.</strong></em></span>
          </p>
          <hr
            style="margin-top: 1rem;margin-bottom: 1rem;border: 0;border-top: 1px solid rgba(0, 0, 0, .1);box-sizing: content-box; height: 0;overflow: visible;width: 100%">
          <p><span style="color:#ff0000"><span style="font-size:18px"><strong>ƯU ĐÃI KHI MUA KÈM
                  {{ product?.name }}</strong></span></span></p>
          <p><span style="font-size:18px">⭐ <a target="_blank"
                href="https://gearvn.com/pages/chuong-trinh-mua-kem-pc-gearvn"><strong>Ưu đãi lên đến 54% khi mua kèm
                  {{ product?.name }}</strong> xem ngay tại đây</a></span></p>
          <hr
            style="margin-top: 1rem;margin-bottom: 1rem;border: 0;border-top: 1px solid rgba(0, 0, 0, .1);box-sizing: content-box; height: 0;overflow: visible;width: 100%">
          <p><span style="font-size:18px"><span style="color:#ff0000"><strong>Hỗ&nbsp;trợ trả góp MPOS (Thẻ tín dụng),
                  HDSAISON.</strong></span></span></p>
          <p><span style="font-size:15px"><em>(Hình ảnh PC chỉ mang tính chất minh họa).</em></span></p>
          <p><span style="font-size:20px">
            </span></p>
        </div>
        <div class="product-discount-promo-box discount-promo--app" id="discount-promo--app" style="border: 1px solid #CFCFCF;
        border-radius: 4px;
        overflow: hidden;
        margin: 16px 0 0 0">
          <div class="box-header" style="background: #CFCFCF;
          display: flex;
          align-items: center;
          padding: 12px 20px;">
            <h2>Khuyến mãi</h2>
          </div>
          <div class="box-content product-appdiscount" id="discount-promo--product" data-id="1056829027" data-vid=""
            data-title="PC GVN AMD R5-8400F/ VGA RX 7600" style="min-height: 0;
          transition: height 1s ease;
          padding: 6px 0;">
            <div class="discount-promo--content" style="margin-right: 10px;">
              <div class="discount-promo--lists">
                <ul>
                  <li>
                    <div class="line-discount">
                      <span style="
                      margin-left: 20px;
                  "> Giảm ngay 300,000đ khi mua thêm RAM</span> <a data-items-id="66fb5e8bc1f9470012f5ac1a"
                        data-itemgroup-id="IG2"
                        href="/collections/chuong-trinh-khuyen-mai/?id=66fb5e8bc1f9470012f5ac1a&amp;item_group_id=IG2"> (Xem
                        thêm)</a>
                    </div>
                  </li>
                  <li>
                    <div class="line-discount"><span style="
                      margin-left: 20px;
                  ">Giảm ngay 200,000đ khi nâng cấp SSD</span> <a
                        data-items-id="66fb5f3c64a8b80012e16540" data-itemgroup-id="IG2"
                        href="/collections/chuong-trinh-khuyen-mai/?id=66fb5f3c64a8b80012e16540&amp;item_group_id=IG2"> (Xem
                        thêm)</a> </div>
                  </li>
                  <li>
                    <div class="line-discount">
                      <span style="
                      margin-left: 20px;
                  ">Giảm ngay 300.000đ khi mua Microsoft Office kèm PC tại GEARVN.</span>
                      <a data-items-id="67064ff7f1714e00128c94e5" data-itemgroup-id="IG2"
                        href="/collections/chuong-trinh-khuyen-mai/?id=67064ff7f1714e00128c94e5&amp;item_group_id=IG2"> (Xem
                        thêm)</a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- review prouct -->
  <app-reviews-product [productId] = "product?.id" ></app-reviews-product>
  <app-list-product [categoryId]="product?.category_id"></app-list-product>
  </div>
<!-- <app-footer></app-footer> -->