@import '../../styles/shared-styles.scss';
.img_content{
    align-items: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-product{
    height:400px !important;
}
.img_content{
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    img{
        width: 100%;
        height: 200px;
        // object-fit: cover;
    }
}
